{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <div class="container mt-5 ">
    <div class="row">
      <div class="h1">
        <div class="title">
          <span>
            БОНУСНАЯ КАРТА
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class=" bonus container">
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h2>Получайте скидки, бонусы и
          многое другое с бонусной картой</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 col-12 text-center">
        <img src=" {% static 'img/bonus_card.png' %}" alt="">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 col-12 text-center my-auto">
        <h5>Наша бонусная карта - это отличный способ получать больше от покупок в нашем чайном магазине. Каждый раз, когда вы делаете покупки у нас, вы будете получать скидку по карте.
        Мы также предлагаем эксклюзивные предложения и специальные акции для наших держателей бонусных карт.<br><br>
        Кроме того, наша бонусная карта абсолютно бесплатна и легко использовать. Просто скажите номер телефона при оплате своих покупок.  
        Не упустите возможность получить больше от своих покупок в нашем чайном магазине и получите свою бонусную карту уже сегодня!</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}


