{% extends "base_generic.html" %}
{% load static %}
{% block content %}    
<div class="container mb-4">
    <div class="row">
      <div class="h1 text-center">
        <div class="title mt-5 ">
          <span>
             КОНТАКТЫ 
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-4">
    <div class="row">
        <div class="col-md-6 col-12 me-auto">
              <div class="adres-details">
                <p>Адрес</p>
                    <h4>Будённовский проспект, 12/56</h4>
                    <p>Режим работы</p>
                    <h4>пн-пт 8:00-19:00</h4>
                    <h4>сб-вс 10:00-17:00</h4>
                    <p>Телефон</p>
                    <h4> 8 (951) 505-14-91</h4>
                </div>
              </div>
    <div class="col-md-6 col-12 ms-auto">
<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/chaynaya_biblioteka/73618539255/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Чайная библиотека</a><a href="https://yandex.ru/maps/39/rostov-na-donu/category/tea_shop/184108035/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин чая в Ростове‑на‑Дону</a><a href="https://yandex.ru/maps/39/rostov-na-donu/category/coffee_to_go/178781223490/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Кофе с собой в Ростове‑на‑Дону</a><iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=39.709757%2C47.216839&mode=search&oid=73618539255&ol=biz&z=16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>  
</div>
</div>
</div>


{% endblock %}
